@model PagedList.IPagedList<CarAdverts.Web.Models.Advert.AdvertViewModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Adverts list";
}

<h1>@ViewBag.Title</h1>
<div class="container advret-container">
    @foreach (var advert in Model)
    {
        <div class="col-md-12">
            <a class="advert-link" href="@advert.Url">
                <div class="row">
                    <div class="img-wrapper">
                         <img class="car-img" src="~/File/Index?id=@advert.FirstPictureId" alt="@advert.Title" />
                    </div>
                    <p class="price">Price: @advert.Price</p>
                    <h4>@advert.Title</h4>
                    <p class="description">@advert.Description</p>
                </div>
            </a>
            <hr/>
        </div>
    }

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>