@model PagedList.IPagedList<CarAdverts.Web.Models.Advert.AdvertViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Adverts list";
}

<h1>@ViewBag.Title</h1>
<div class="container">
    @foreach (var advert in Model)
    {
        <div class="col-md-10">
            <div class="row">
                <h4>
                    <a href="@advert.Url">@advert.Title</a>
                </h4>
                <img class="car-img" src="~/File/Index?id=@advert.FirstPictureId" alt="picture" />
            </div>
        </div>
    }

    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

<style>
    img {
        width: 50px;
        height: 50px;
    }
</style>